// out: style.css, sourcemap: false, compress: true
/**
 * EDLOIDAS DEVPAGE
 * CSS STYLE
 *
 * @author edloidas
 * @link edloidas@gmail.com
 */

@main-width:  480px;
@main-height: 300px;
@small-width: 320px;

@font-size: 20px;
@sspro: "Source Sans Pro";
@font-main: @sspro, Arial, sans-serif;

@color-quote: DimGray; // #696969
@color-more-underline: Gray; // #808080

@color-link: SteelBlue;

/*
 * Source Sans Pro - Landing page
 * Inconsolata     - Code
 * Droid Serif     - Articles
 * Oswald          - Headers
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic|Droid+Serif|Oswald|Inconsolata );

html, body, #background {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#background {
  position: absolute;
  opacity: 0.25;
}

.main {
  position: absolute;
  width: @main-width;
  height: @main-height;
  top: 50%;
  left: 50%;
  margin: -@main-height/2 0 0 -@main-width/2;
  font-size: @font-size;
  font-family: @font-main;
  font-weight: 400;
  text-align: center;

  .name {
    margin: 10px 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .quote {
    .speech {
      &:before {
        content: "—";
        position: absolute;
        margin-left: -1em;
      }
    }
  }

  .about, .more {
    margin: 0;
    font-weight: 200;
  }

  .more a {
    text-decoration: none;
    border-bottom: 1px solid @color-more-underline;
  }

  .more a, .about {
    color: @color-quote;
  }

  .links {
    list-style: none;
    margin: 30px 0 10px;
    padding: 0;
    line-height: 1.5em;

    a {
      color: @color-link;
    }
  }
}


/*
 * Fixes for the small screens.
 */
@media screen and (max-width: 480px) {
  .main {
    width: @small-width;
    margin-left: -@small-width/2;
  }
}
