// out: style.css, sourcemap: false, compress: true
/**
 * EDLOIDAS DEVPAGE
 * CSS STYLE
 *
 * @author edloidas
 * @link edloidas@gmail.com
 */

@main-width:    480px;
@main-height:   300px;
@small-width:   320px;
@kung-fu-width: 800px;

@nav-size:    48px;
@avatar-size: 160px;

@font-size: 20px;
@sspro: "Source Sans Pro";
@font-main: @sspro, Arial, sans-serif;
@font-header: Oswald, Impact, Arial, sans-serif;
@font-text: "Droid Serif", Arial, sans-serif;

@color-quote: DimGray;       // #696969
@color-subtext: Gray;        // #808080
@color-more-underline: Gray; // #808080

@color-nav: #444444;

@color-link: SteelBlue;

@bg-main: White;       // #FFFFFF
@bg-touch: WhiteSmoke; // #F5F5F5

/*
 * Source Sans Pro - Landing page
 * Inconsolata     - Code
 * Droid Serif     - Articles
 * Oswald          - Headers
 */
@import url( https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic|Droid+Serif|Oswald|Inconsolata );

html, body, #background {
  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  &.kung-fu, &.skills, &.timeline {
    overflow-y: scroll;

    #main {
      display: none;
    }

    #kung-fu {
      display: block;
    }
  }

  &.kung-fu, &.skills {
    #kung-fu nav .skills {
      border-bottom: 5px solid @color-link;
    }
  }

  &.timeline {
    #kung-fu nav .timeline {
      border-bottom: 5px solid @color-link;
    }

    #skills {
      display: none;
    }

    #timeline {
      display: block;
    }
  }
}

#background {
  z-index: -1;

  opacity: 0.25;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;

  width: @main-width;
  height: @main-height;
  margin: -@main-height/2 0 0 -@main-width/2;

  text-align: center;

  font-family: @font-main;
  font-size: @font-size;
  font-weight: normal;

  .name {
    margin: 10px 0 20px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .speech {
    .phrase {
      &:before {
        position: absolute;

        margin-left: -1em;

        content: "—";
      }
    }
  }

  .about, .more {
    margin: 0;

    font-weight: 200;
  }

  .more a {
    text-decoration: none;

    border-bottom: 1px solid @color-more-underline;
  }

  .more a, .about {
    color: @color-quote;
  }

  .links {
    margin: 30px 0 10px;
    padding: 0;

    list-style: none;

    line-height: 1.5em;

    a {
      color: @color-link;
    }
  }
}

#kung-fu, #timeline {
  display: none;
}

#kung-fu {
  position: relative;
  top: -100%;

  width: 100%;
  max-width: @kung-fu-width;
  margin: 0 auto 20px;

  font-size: @font-size;

  nav {
    position: fixed;
    z-index: 1;
    top: 0px;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    max-width: @kung-fu-width;
    height: @nav-size + 20px;
    padding: 10px @nav-size 10px 0;

    background: @bg-main;
    box-shadow: 0 6px 8px @bg-main;

    flex-flow: row nowrap;

    a {
      display: inline-block;

      transition: 0.1s;
    }

    .home {
      width: @nav-size;
      height: @nav-size;

      background: url(../img/icon-back.svg) center no-repeat;
      background-color: @bg-main;
      background-size: @nav-size/1.5;

      &:active {
        border-radius: 24px;
        background-color: @bg-touch;
      }
    }

    .skills, .timeline {
      box-sizing: border-box;
      width: @nav-size;
      margin: 0 2px;

      text-align: center;
      text-decoration: none;

      color: @color-nav;
      border-bottom: 3px solid @color-more-underline;

      font-family: @font-header;
      line-height: @nav-size - 2px;

      flex: 1 0 auto;

      &:hover, &:active {
        border-bottom-width: 5px;
      }
    }
  }
}

#skills, #timeline {
  margin: 0 auto;

  h3, time {
    font-family: @font-header;
    font-weight: normal;
  }

  a {
    color: @color-link;
  }
}

#skills {
  max-width: @kung-fu-width - @nav-size * 2;
  padding: @nav-size + 40px @nav-size 20px;

  font-family: @font-text;

  .avatar {
    display: block;

    height: @avatar-size;
    margin: 0 auto;

    border-radius: @avatar-size / 2;
  }

  q {
    display: block;

    margin: 30px 0;

    text-align: center;

    color: @color-quote;

    font-family: @font-main;
    font-weight: 200;
  }

  article {
    line-height: 1.5;

    p {
      margin: 10px 0;
    }

    h3 {
      margin: 30px 0 0;
    }
  }

}

#timeline {
  max-width: @kung-fu-width - 200px;
  padding: @nav-size + 40px 0 20px;

  ul {
    margin: 0 0 0 23px;
    padding: 5px 48px 0 22px;

    list-style: none;

    border-left: 3px solid @color-nav;

    li {
      article {
        padding: 5px 0;

        font-size: @font-size;


        h3 {
          margin: -35px 0 0;

          span {
            color: @color-subtext;
            &:before {
              content: "— ";
            }
          }
        }

        time {
          color: @color-quote;

          font-size: 0.8em;
        }

        p {
          font-family: @font-text;
          line-height: 1.5;

          &.tldr:before {
            content: "TL;DR: ";

            font-weight: bold;
          }
        }
      }

      &:first-child {
        margin: 10px 0;
      }

      &:not(:first-child) {
        margin: 40px 0 0 0;
      }

      &:before {
        position: relative;

        display: block;

        width: 25px;
        height: 25px;
        margin: 0 0 0 -36px;

        content: " ";

        border-radius: 13px;
        background: url(../img/icons/radio-unchecked.svg) @bg-main center no-repeat;
        background-size: 19px;
      }
    }
  }
}


/*
 * Fixes for the small screens.
 */
@media screen and ( max-width: 480px ) {
  #main {
    width: @small-width;
    margin-left: -@small-width/2;
  }
}
