/**
 * EDLOIDAS DEVPAGE
 * CSS STYLE
 *
 * @author edloidas
 * @link edloidas@gmail.com
 */
html {
    height: 100%;
    color: whiteSmoke;
}

body {
    background-image: url("../img/hexagon.png");
}

.container {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.container h1 {
    font-family: Impact, Charcoal, sans-serif
}

.resume {
    margin: 40px 0;
}

.resume img {
    border: 5px solid silver;
    border-radius: 3px;
    display: inline-block;
    margin: 0 auto;
}

.resume .photo {
    text-align: center;
}

.blueprint a {
    margin: 5px 0px;
    padding: 5px 0px 5px 10px;
    display: block;
    font-size: 1.2em;
}

/*#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#wrap hr {
    border-top: 1px solid silver;
}

#title {

    text-align: center;
    font-size: 3em;
}

#wrap .links, #me {
    margin-top: 20px;
}

#photoFrame {
    margin: 0px auto;
}

#photo {
    max-height: 400px;
    display:block; margin:0 auto;
}

#wrap .links a {
    margin: 5px 0px;
    padding: 5px 0px 5px 10px;
    display: block;
    font-size: 1.2em;
}

#wrap .links a:hover {
    background-color: rgba(99,99,99,0.1);
    text-decoration: none;
}

#wrap .links a:hover > small {
    color: #333333;
}

#wrap .links a small {
    font-size: 0.7em;
    color: silver;
    display: block;
}

#wrap .links a, #wrap .links a small {
    -webkit-transition-duration: 0.3s;
}

#info tr td {
    padding: 2px 6px 2px 2px;
}

#info tr td .icon {
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
}

#info tr td .icon.profile {
    background-position: -168px 0px;
}

#info tr td .icon.residence {
    background-position: -24px -72px;
}

#info tr td .icon.work {
    background-position: -288px -24px;
}

#info tr td .icon.email {
    background-position: -72px 0px;
}

#info tr td .icon.lang {
    background-position: 0px -48px;
}

footer, #push {
    height: 40px;
}

footer {
    color: #999;
    font-size: 10pt;
    text-align: center;
}

footer .container .row {
    padding-top: 20px;
}
*/
