{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "color-hex-length": "long",
    "unit-allowed-list": [
      [ "em", "rem", "%", "s", "deg", "px" ],
      {
        "ignoreProperties": {
          "px": [
            "background-position",
            "border-radius",
            "width",
            "height",
            "padding",
            "margin"
          ]
        }
      }
    ],
    "selector-class-pattern": "([a-z\\-]+){1}(__[a-z\\-]){0,1}"
  }
}
