@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto/RobotoMono-Regular.ttf') format('truetype');
}
