/*
Color pallet
stylelint-disable declaration-block-semicolon-newline-after
*/

$color__bg:             hsla(0, 0%, 96%, 1);
$color__hanko:          hsla(0, 70%, 30%, 1);
$color__text:           hsla(0, 10%, 25%, 1);
$color__link:           hsla(210, 50%, 60%, 1);
$color__shadow--hover:  hsla(0, 0%, 92%, 1);
$color__shadow--active: hsla(0, 0%, 88%, 1);
