@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "icons.css";

$font__size: 16px;
$meta__width: 328px;
$border__radius: 8px;

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: $font__size;
}

body {
  background: $color__bg;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.link {
  color: $color__link;
}

.name {
  display: inline-block;
  box-sizing: border-box;
  border-radius: $border__radius;
  font-family: $font__title;
  font-size: 3rem;
  font-weight: bold;
  color: $color__title;
  text-transform: uppercase;
  text-align: center;
}

.name__first-name,
.name__last-name {
  display: block;
}

.name__first-name {
  letter-spacing: 0.25em;
  margin-right: -0.25em;
}

.name__last-name {
  letter-spacing: 0.1em;
  margin-right: -0.1em;
}

.meta,
.links {
  font-family: $font__text;
  font-size: 1.5rem;
  color: $color__text;
}

.meta {
  text-align: center;

  &__about {
    line-height: 1.25em;
  }
}

.links {
  display: flex;
  width: $meta__width;
  flex-wrap: wrap;
  justify-content: space-around;

  &__entry {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc($meta__width / 2);
    padding: 0.25em 0.5em 0.25em 1.75em;
    box-sizing: border-box;
    border-radius: $border__radius;
    line-height: 1.5em;

    /* stylelint-disable number-leading-zero */
    &:hover {
      background-color: $color__shadow--hover;
    }

    &:active {
      background-color: $color__shadow--active;
    }
    /* stylelint-enable */
  }
}

.link__icon {
  position: absolute;
  left: 0.375em;
  top: 0.5em;
  width: 1em;
  height: 1em;
  fill: $color__icon;
}

/*
Mobile devices, iPhone 5 and smaller
*/
@media (max-width: 360px) {
  html {
    font-size: calc($font__size - 2px);
  }

  .link__icon {
    top: 0.425em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
  }
}

/*
Mobile devices, minimized view
*/
@media (max-width: 480px) {
  .container {
    justify-content: start;
  }

  .name {
    width: 100%;
    margin-top: 0;
    padding: 0.5em 0.25em 0;
    border-radius: 0;
  }
}

/*
Mobile devices in landscape
*/
@media (max-height: 400px) {
  .links {
    width: 100%;
    justify-content: center;

    &__entry {
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  .meta__about,
  .meta__email {
    margin: 0.75em 0;
  }
}

/*
Mobile devices in landscape with browser bar
*/
@media (max-height: 340px) {
  .meta__about,
  .meta__email {
    margin: 0.5em 0;
  }
}

/*
Large screens, scale x1.5
*/
@media (min-width: 1921px) {
  html {
    font-size: calc($font__size * 1.5);
  }

  .links {
    width: 512px;

    &__entry {
      padding: 0.25em 0.5em 0.25em 2em;
    }
  }

  .link__icon {
    left: 0.5em;
    transform: scale(1.5);
  }
}
