@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "icons.css";

/* stylelint-disable unit-whitelist */
$font__size: 16px;
$meta__width: 300px;
$border__radius: 5px;
/* stylelint-enable */

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: $font__size;
}

body {
  background: $color__bg;
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.link {
  color: $color__link;
}

.name {
  display: inline-block;
  background-color: $color__text;
  border-radius: $border__radius;
  box-sizing: border-box;
  margin-top: 20px;
  padding: .2em .15em;
  font-family: $font__title;
  font-size: 3rem;
  font-weight: bold;
  color: $color__bg;
  text-transform: uppercase;
  text-align: center;
}

.meta,
.links {
  font-family: $font__text;
  font-size: 1.5rem;
  color: $color__text;
}

.meta {
  text-align: center;

  &__about {
    line-height: 1.25em;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: $meta__width;

  &__entry {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc($meta__width / 2);
    padding: 5px 5px 5px calc($icon__size + 10px);
    box-sizing: border-box;

    &:hover {
      background-color: $color__shadow.1;
    }
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 5px;
    width: $icon__size;
    height: $icon__size;
    border-radius: $border__radius;
    filter: invert(4%);

    &--github {
      background-image: $icon__github;
    }

    &--twitter {
      background-image: $icon__twitter;
    }

    &--telegram {
      background-image: $icon__telegram;
    }

    &--steam {
      background-image: $icon__steam;
    }
  }
}

/*
Mobile devices, minimized view
*/
@media (max-width: 480px) {
  .name {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }
}

/*
Mobile devices, iPhone 5 and smaller
*/
@media (max-width: 360px) {
  html {
    font-size: calc($font__size - 2px);
  }

  .links__icon {
    top: 5px;
  }
}

/*
Large screens, scale x1.5
*/
@media (min-width: 1921px) {
  html {
    font-size: calc($font__size * 1.5);
  }

  .name {
    margin-top: 40px;
  }

  .links {
    width: 440px;

    &__entry {
      padding-left: calc($icon__size * 1.5 + 10px);
    }

    &__icon {
      top: 13px;
      left: 10px;
      transform: scale(1.5);
    }
  }
}
